:root{
    --Blue: #345FF6;
    --Gunmetal: #253347;
    --DarkElectricBlue: #5E6E85;
    --Border: #D8E2E7;
    --PureWhite: #FFFFFF;
    --gradient: linear-gradient(290.1deg,#D6E6FE 0%,rgba(214,252,254,0) 100%);
}